.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f3f3f3;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav-link {
  margin-right: 20px;
  color: #333;
  font-weight: bold;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover,
.footer-link:hover {
  color: purple;
  text-decoration: underline;
}
