.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f3f3f3;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.left-section {
  justify-content: flex-start;
  flex: 1;
}

.right-section {
  justify-content: flex-end;
  flex: 1;
}

/* Navigation */

.nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.nav-link {
  margin: 0 20px;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-link:hover,
.footer-link:hover {
  color: purple;
  text-decoration: underline;
}

/* Cart icon */

.cart-link {
  position: relative;
}

.cart-quantity {
  position: absolute;
  top: -9px;
  right: -1px;
  background: purple;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Profile Dropdown */

.profile-icon-container {
  position: relative;
  display: inline-block;
}

.profile-link {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  width: 200px;
  background: #eee;
}

.dropdown-link {
  display: block;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  transition: background-color 0.3s;
}

.dropdown-link:hover {
  background-color: #fff;
  /* color: #fff; */
}

.dropdown-link::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.dropdown-link:nth-child(1)::after {
  background: #3498db;
}

.dropdown-link:nth-child(2)::after {
  background: #ffd071;
}

.dropdown-link:nth-child(3)::after {
  background: #f0776c;
}

.dropdown-link:nth-child(4)::after {
  background: #1abc9c;
}

.dropdown-link:hover::after {
  width: 100%;
}

/* Login & logout */

.login-button,
.logout-button {
  display: flex;
  align-items: center;
  margin: 0px;
  border-radius: 0%;
  padding: 16px;
  background-color: purple;
  color: white;
  width: 100%;
}

.login-button svg,
.logout-button svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  margin-right: 8px;
}

.right-section svg {
  margin-right: 10px;
}

/* Theme switcher */

.theme-switcher {
  position: relative;
  display: inline-block;
}

.theme-switcher button.active {
  background-color: #e0e0e0;
  color: #000;
}

.theme-switcher-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 140px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  padding-right: 20px;
  margin-bottom: 20px;
}

.theme-switcher:hover .theme-switcher-content {
  display: block;
}

.theme-switcher-content button {
  display: block;
  width: 100%;
}

.theme-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.system-mode-button {
  display: flex;
  align-items: center;
}
