.category-container {
  width: auto;
  height: 50px;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--text-secondary-color);
}

.select-wrapper {
  width: 100%;
  height: 100%;
  padding-right: 1.5rem;
  background-color: white;
  border-radius: 100px;
  cursor: pointer;
}

.select-wrapper.dark-mode {
  background-color: #121212;
}

.category-select {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 100px;
  padding: 0 2rem;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.category-select:focus {
  border: none;
  outline: none;
}

.category-container.dark-mode .category-select {
  background-color: #121212;
  color: white;
}

.category-container.dark-mode .select-wrapper {
  background-color: #121212;
}
