.pages {
  background: linear-gradient(135deg, white 0%, purple 100%);
}

.dark-theme {
  background-color: black;
  background: linear-gradient(135deg, #2c3e50 0%, purple 100%);
  color: white;
}

.dark-theme h1 {
  color: white;
}
