.about-container {
  padding: 50px;
  width: 1200px;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  flex: 1;
}

.main-image {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  text-align: left;
}

.text-container h2 {
  color: #f88e32;
}

.about-us-label {
  background-color: #f88e32;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.more-info {
  margin-top: 50px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.card:hover .card-icon {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.card-icon,
.card-description,
h3 {
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  opacity: 1;
  visibility: visible;
}
