.cart-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.product-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details h2 {
  font-size: 1.2rem;
  margin-right: 20px;
}

.product-details p {
  margin-right: 20px;
}

.prod-price {
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity-control button:hover {
  background-color: #ddd;
}

.quantity-control button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quantity-control span {
  margin: 0 10px;
  font-weight: bold;
}

.remove-button {
  margin-left: 20px;
}
