.contact-container {
  text-align: center;
}

.contact-container h1 {
  margin: 20px 0 20px 0;
  color: purple;
  font-size: 3vw;
}

.contact-info {
  margin-bottom: 35px;
}

.contact-info p {
  font-size: 18px;
  line-height: 1.6;
  margin: 10px 0;
}
